button {
  background-color: #dc785f;
  color: white;
  margin-left: 8px;
  border: 1px solid #dc785f;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
  cursor: pointer;
  min-width: 60px;
}

button:disabled,
button[disabled] {
  border: 1px solid gray;
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover {
  border: 1px solid gray;
  background-color: gray;
  color: #ffffff;
}

button:hover {
  border: 1px solid #cc9900;
  background-color: #cc9900;
  color: #ffffff;
}
