.exp-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-apart;
  padding: 5px;
}

.exp-card {
  padding: 8px;
  border-radius: 3px;
  background: white;
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px; 
  flex-wrap: wrap; 
  justify-content: space-between;
  flex-grow: 1;
  /* max-width: 150px; */
  text-align: center;
  cursor: pointer;
}